/* font style */
.azeret-mono-g {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
}
.background{
    background-image: url(../assets/Hero-bg.png);
    text-align: center;
    padding: 40px 0;
}